.profile-card {
    /* border: 1px peru solid; */
    /* text-align: center; */
    padding: 10px;
}

.profile-like-icon {
    flex-wrap: wrap;
    text-align: center;
    height: fit-content;
    width: fit-content;
}