h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(77, 101, 168);
    padding: 10px;
    margin: 20px 0px;
}

.nav-link {
    /* border: 1px red solid; */
    padding: 2px 10px;
    text-decoration: none;
}

nav a.nav-link {
    color: white;
}

/* make active link stay yellow */
/* nav a.current  {
    font-weight: bold;
    color: yellow;
} */

.nav-link:hover {
    font-weight: bold;
    color: white;
}

nav a.current {
    font-weight: bold;
    color: white
}

/* nav a.undiscovered {
    color: grey;
}*/

/* nav a.discovered {
    color: gold;
}  */